# ##############################################################################
# ##                   __ _ _         __ _     _                               #
# ##                  / _(_) |       / _(_)   | |                              #
# ##  _ __  _ __ ___ | |_ _| | ___  | |_ _ ___| |__                            #
# ## | '_ \| '__/ _ \|  _| | |/ _ \ |  _| / __| '_ \                           #
# ## | |_) | | | (_) | | | | |  __/_| | | \__ \ | | |                          #
# ## | .__/|_|  \___/|_| |_|_|\___(_)_| |_|___/_| |_|                          #
# ## | |                                                                       #
# ## |_|                                                                       #
# ##                                                                           #
# ##############################################################################

set -x EDITOR 'nvim'
set -x VISUAL 'nvim'

# ##############################################################################
# ## 42dotfiles                                                                #
# ##############################################################################

set -U 42DF_SHOWMOTD 'ONCE' #accepted values: NEVER, ONCE, ALWAYS;

# ##############################################################################
# ## less                                                                      #
# ##############################################################################
set -x LESSHISTFILE '-'
set -x LESS '--mouse -r'

# ##############################################################################
# ## 42header                                                                  #
# ##############################################################################
set -x USER {{ .login42 | quote }}
set -x MAIL {{ .email42 | quote }}

# ##############################################################################
# ## git                                                                       #
# ##############################################################################

set -x GIT_AUTHOR_NAME {{ .login42 | quote }}
set -x GIT_AUTHOR_EMAIL {{ .email42 | quote }}
set -x GIT_COMMITTER_NAME {{ .login42 | quote }}
set -x GIT_COMMITTER_EMAIL {{ .email42 | quote }}

# ##############################################################################
# ## fzf                                                                       #
# ##############################################################################
set -x FZF_DEFAULT_COMMAND "fd --type file"
set -x FZF_DEFAULT_OPTS "--layout=reverse --inline-info\
	--preview 'bat --style=numbers --color=always --line-range :500 {}'"
