{{- /**********************************************************************/ -}}
{{- /** ustensils                                                         */ -}}
{{- /**********************************************************************/ -}}

{{- $homeDir := .chezmoi.homeDir -}}
{{- $sourceDir := joinPath $homeDir ".local/share/42dotfiles" -}}

{{- $scripts := joinPath $sourceDir "scripts" -}}

{{- /**********************************************************************/ -}}
{{- /** header42                                                          */ -}}
{{- /**********************************************************************/ -}}

{{- $login42 := promptString "login42" (or .login42 "marvin") -}}
{{- $email42 := promptString "email42" (or .email42 (print $login42 "@student.42angouleme.fr")) -}}

{{- /**********************************************************************/ -}}
{{- /** motd                                                              */ -}}
{{- /**********************************************************************/ -}}

{{- $show_motd_once := output (joinPath $scripts "select_show_motd_once") | trim -}}

{{- /**********************************************************************/ -}}
{{- /** tmux                                                              */ -}}
{{- /**********************************************************************/ -}}

{{- $tmux_theme := output (joinPath $scripts "select_tmux_theme") | trim -}}
{{- $tmux_autostart := output (joinPath $scripts "select_tmux_autostart") | trim -}}

{{- /*####################################################################*/ -}}
{{- /*####################################################################*/ -}}
{{- /*####################################################################*/ -}}

{{- /**********************************************************************/ -}}
{{- /** template                                                          */ -}}
{{- /**********************************************************************/ -}}

sourceDir = {{ $sourceDir | quote }}

[data]
	login42 = {{ $login42 | quote }}
	email42 = {{ $email42 | quote }}
	tmux_autostart = {{ $tmux_autostart }}
	tmux_theme = {{ $tmux_theme | quote }}
	show_motd_once = {{ $show_motd_once }}

[cd]
	command = "fish"

