# chezmoi:template:left-delimiter="#[["
# chezmoi:template:right-delimiter=]]
# chezmoi:template:missing-key=zero

#[[- /*********************************************************************/ -]]
#[[- /*** header42                                                        */ -]]

#[[- $login42 := output "__prompt_login42" (or .login42 "") | trim           -]]
#[[- $email42 := output "__prompt_email42" $login42 (or .email42 "") | trim  -]]

#[[- /*********************************************************************/ -]]
#[[- /*** tmux                                                            */ -]]

#[[- $tmux_theme := output "__prompt_tmux_theme" | trim                      -]]
#[[- $tmux_autostart := output "__prompt_tmux_autostart" | trim              -]]

#[[- /*********************************************************************/ -]]
#[[- /*** template                                                        */ -]]

[data]
	login42 = #[[ $login42 | quote ]]
	email42 = #[[ $email42 | quote ]]
	tmux_theme = #[[ $tmux_theme | quote ]]
	tmux_autostart = #[[ $tmux_autostart ]]
