{{- $login42 := promptString "login42" (or .login42 "marvin") -}}
{{- $email42 := promptString "email42" (or .email42 (print $login42 "@student.42angouleme.fr")) -}}

sourceDir = "{{ .chezmoi.homeDir }}/.local/share/42dotfiles"

[data]
	login42 = {{ $login42 | quote }}
	email42 = {{ $email42 | quote }}

[cd]
	command = "fish"

